.done {
  text-decoration: line-through; }

.hide {
  display: none; }

body {
  background: #efefef; }
  body .container {
    background: #fff;
    display: grid;
    width: 80%;
    max-width: 1200px;
    margin: 0 auto;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto;
    grid-template-areas: "header header header" "content content content" "footer footer footer"; }
    body .container header {
      padding: 20px;
      grid-area: header;
      display: grid;
      background: lavender;
      grid-template-columns: auto auto auto;
      grid-template-areas: "logo navigation navigation";
      align-items: center;
      border-bottom: 2px solid darkslategrey; }
      body .container header .logo {
        grid-area: logo;
        font-family: "Playfair Display", serif;
        font-size: 1.1em;
        color: d darkslategrey; }
      body .container header .navigation {
        grid-area: navigation;
        text-align: center;
        font-family: "Lato", sans-serif; }
        body .container header .navigation nav ul li {
          display: inline-block;
          padding: 5px 7px;
          font-size: 1.2em; }
          body .container header .navigation nav ul li a {
            text-decoration: none; }
    body .container .content {
      grid-area: content;
      font-family: "Lato", sans-serif;
      background: #fff;
      padding: 40px; }
      body .container .content h1 {
        text-align: center; }
      body .container .content ul {
        list-style: none; }
        body .container .content ul li {
          border-bottom: 1px #eee solid; }
          body .container .content ul li h4 {
            font-size: 1em; }
          body .container .content ul li p {
            font-size: 1em; }
      body .container .content a i {
        font-size: 1.5em;
        margin: 5px; }
      body .container .content a.addBtn {
        font-size: 2em;
        line-height: 2em;
        display: block;
        text-align: center; }
      body .container .content textarea, body .container .content input {
        width: 100%;
        display: block;
        box-sizing: border-box;
        margin: 10px;
        font-size: 1.1em;
        background: #fff; }
      body .container .content .list {
        border: 1px #eee solid; }
        body .container .content .list h3 {
          font-family: "Playfair Display", serif;
          text-align: center; }
        body .container .content .list--actions {
          border: 1px #eee solid;
          float: right; }
          body .container .content .list--actions a {
            display: inline-block;
            padding: 3px 10px; }
        body .container .content .list .task--action__add {
          width: 100%;
          box-sizing: border-box;
          padding: 20px 20%;
          background: #eee; }
          body .container .content .list .task--action__add a {
            font-size: 1.5em;
            text-align: center;
            font-size: 2em;
            display: block; }
          body .container .content .list .task--action__add #taskTitle, body .container .content .list .task--action__add #taskDescription {
            display: block;
            width: 100%;
            box-sizing: border-box; }
        body .container .content .list #todo {
          list-style: none; }
          body .container .content .list #todo .task {
            border-bottom: 1px #eee solid; }
            body .container .content .list #todo .task:last-of-type {
              border-bottom: none; }
            body .container .content .list #todo .task--title {
              font-family: "Playfair Display", serif;
              font-size: 1.5em; }
            body .container .content .list #todo .task--desc {
              font-family: "Lato", sans-serif;
              font-size: 1.5em; }
            body .container .content .list #todo .task--actions {
              border: 1px #eee solid;
              float: right; }
              body .container .content .list #todo .task--actions a {
                display: inline-block;
                padding: 3px 10px; }
    body .container .footer {
      grid-area: footer;
      width: 100%;
      background: lavender;
      border-top: 2px solid darkslategrey; }
      body .container .footer--columns {
        width: 25%;
        float: left;
        text-align: center; }
        body .container .footer--columns__icon {
          border-radius: 50%;
          width: 40px;
          height: 40px;
          background: white;
          margin: 20px auto;
          padding: 7px; }
          body .container .footer--columns__icon svg {
            width: 80%;
            margin: auto; }
