.container {
  display: grid;
  width: 80%;
  max-width: 1200px;
  margin: 0 auto;
  grid-template-columns: auto auto auto;
  grid-template-rows: auto;
  grid-template-areas: "header header header" "content content content" "footer footer footer"; }
  .container header {
    grid-area: header;
    display: grid;
    background: lavender;
    grid-template-columns: auto auto auto;
    grid-template-areas: "logo navigation navigation"; }
    .container header .logo {
      grid-area: logo; }
    .container header .navigation {
      grid-area: navigation;
      text-align: center; }
      .container header .navigation nav ul li {
        display: inline-block; }
  .container .content {
    grid-area: content; }
    .container .content .list {
      border: 1px #eee solid; }
      .container .content .list h3 {
        font-family: 'Playfair Display', serif; }
      .container .content .list--actions {
        border: 1px #eee solid;
        float: right; }
        .container .content .list--actions a {
          display: inline-block;
          padding: 3px 10px; }
      .container .content .list .task--action__add #taskTitle, .container .content .list .task--action__add #taskDescription {
        display: block;
        width: 70%; }
      .container .content .list #tasks {
        list-style: none; }
        .container .content .list #tasks .task {
          border-bottom: 1px #eee solid; }
          .container .content .list #tasks .task:last-of-type {
            border-bottom: none; }
          .container .content .list #tasks .task--title {
            font-family: 'Playfair Display', serif; }
          .container .content .list #tasks .task--desc {
            font-family: 'Lato', sans-serif; }
          .container .content .list #tasks .task--actions {
            border: 1px #eee solid;
            float: right; }
            .container .content .list #tasks .task--actions a {
              display: inline-block;
              padding: 3px 10px; }
  .container .footer {
    grid-area: footer;
    width: 100%;
    background: lavender; }
    .container .footer--columns {
      width: 25%;
      float: left;
      text-align: center; }
      .container .footer--columns__icon {
        border-radius: 50%;
        width: 40px;
        height: 40px;
        background: white;
        margin: 20px auto; }
